{% extends 'base.html.twig' %}

{% block body %}
    <h1>Questionari</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ questionari.id }}</td>
            </tr>
            <tr>
                <th>Titol</th>
                <td>{{ questionari.titol }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ questionari.path }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_questionari_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_questionari_edit', { 'id': questionari.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
